* {
  box-sizing: border-box;
}

body {
  background-color: rgba(144, 213, 249, 1);
}

header {
  background-color: rgba(91, 67, 45, 1);
  box-shadow: 12px 12px 12px 1px rgba(0,0,0,.2);
}

header.container {
    width: 100%;
}

h1 {
  color: rgba(144, 213, 249, 1);
  font-size: 72px;
  padding: 20px 20px 20px 0;
  text-shadow: 5px 5px 9px rgba(144,213,249,.7);
}

footer {
  background-color: rgba(91, 67, 45, 1);
  color: rgba(144, 213, 249, .7);
}

footer.container {
    width: 100%;;
}

.specialFont {
  font-family: 'Architects Daughter', cursive;
}

#logo {
  width: 62%;
  height: auto;
  padding: 20px 0 20px 20px;
}
